{% extends "school/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h4 class="text-muted">Teacher list <span class="float-right"><a class="btn btn-success btn-sm"
            href="{% url 'teacher-create' %}">Create New</a></span></h4>
<hr>

{% if context %}

<div class="div-section mb-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">DOB</th>
                <th scope="col">Gender</th>
            </tr>
        </thead>
        <tbody>

            {% for teacher in context %}
            <tr>
                <td>{{teacher.id}}</td>
                <td><a href="{% url 'teacher-detail' teacher.id %}">{{teacher.name}}</a></td>
                <td>{{teacher.dob}}</td>
                <td>{{teacher.gender}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}

<div class="div-section no-record">
    <span>No records found!</span>
</div>

{% endif %}
{% endblock content %}